@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #000000;
  --color-bg-variant: #0d141c;
  --color-variant: #060d17;
  --nav-bg: #151f2b;
  --color-bg-white: #ffffff;
  --text-primary: #ffcc00;
  --text-primary-variant: #75580c;
  --text-white: #ffffff;
  --text-gray: #a5a5a5;
  --text-gray-variant: #5b5f62;
  --text-black: #0d141c;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  /* color: var(--color-white); */
  line-height: 1.7;
}

@media screen and (max-width: 600px) {
  /* ================== Landing Page ==================  */

  .landingpage__container {
  }

  .landingpage__slide-one {
    min-height: 100vh;
    /* background: var(--color-bg);
     */
    background-image: url(./assets/12893174_5072609.jpg);
    color: var(--text-white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 300px;
  }

  .landingpage__slide-one h1 {
    font-size: 2.2rem;
    color: var(--text-primary);
    text-align: center;
    font-weight: 800;
    line-height: 40px;
  }

  .landingpage__slide-one h2 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
  }

  .landingpage__slide-one p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-gray);
  }

  .landingpage__slide-one a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-primary);
    float: right;
    color: var(--text-black);
    padding: 16px;
    width: 70px;
    font-size: 2rem;
    border-radius: 40%;
    margin-top: 70px;
    margin-right: 50px;
  }

  .landingpage__slide-two {
    height: 100vh;
    padding-top: 100px;
  }

  .landingpage__slide-two h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
  }

  .landingpage__slide-two p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    color: var(--text-gray);
  }

  .landingpage__slide-two a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-primary);
    float: right;
    color: var(--text-black);
    padding: 16px;
    width: 70px;
    font-size: 2rem;
    border-radius: 40%;
    margin-top: 70px;
    margin-right: 50px;
  }

  .landingpage__slide-three {
    background: var(--text-primary);
    height: 100vh;
    padding-top: 100px;
  }

  .landingpage__slide-three img {
    margin: auto;
  }

  .landingpage__slide-three h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
  }

  .landingpage__slide-three p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    color: var(--text-primary-variant);
  }

  .landingpage__slide-four img {
    margin: auto;
  }

  .landingpage__slide-four h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
  }

  .landingpage__slide-four p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    color: var(--text-gray-variant);
    margin-bottom: 20px;
  }

  .landingpage__slide-four button {
    width: 90vw;
    background: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 40px;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* ================== Banner Page ==================  */

  .banner__container {
    height: fit-content;
    background: var(--text-black);
    padding: 10px;
    padding-top: 280px;
  }

  .banner__container h1 {
    color: var(--text-white);
    font-size: 2.5rem;
    font-weight: 800;
  }

  .banner__container p {
    max-width: 96vw;
    font-size: 0.8rem;
    color: var(--text-gray);
    /* text-align: center; */
  }

  .balance__signin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-primary);
    color: var(--text-black);
    padding: 16px;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .balance__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    padding: 16px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 1px solid var(--text-primary);
  }

  /* ================== Signin Page ==================  */

  .signin__container {
    background: var(--color-bg-variant);
    color: var(--color-bg-white);
    min-height: 100vh;
    padding: 20px;
    padding-top: 100px;
  }

  .signin__container h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 100px;
  }
  .signin__container label {
    display: block;
  }

  .signin__container input {
    width: 90vw;
    background: var(--color-variant);
    padding: 10px;
    border-radius: 10px;
    color: var(--text-white);
    margin-bottom: 20px;
    outline: var(--color-bg-white);
    border: 1px solid var(--text-gray);
  }

  .signin__container-forgot {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    color: var(--text-primary);
  }

  .signin__container button {
    width: 90vw;
    background: var(--text-primary);
    color: var(--text-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .signin__container p {
    text-align: center;
    margin-top: 20px;
  }

  .signin__container p a {
    color: var(--text-primary);
  }

  .create__container h1 {
    font-size: 2rem;
  }

  .create__container p {
    text-align: left;
    color: var(--text-gray-variant);
    font-size: 0.9rem;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .signup__container h1 {
    font-size: 2rem;
  }
  .signup__container p {
    text-align: left;
    font-size: 1rem;
    color: var(--text-gray);
    margin-bottom: 2rem;
  }

  .navbar__container {
    position: fixed;
    background: var(--nav-bg);
    color: var(--text-gray);
    width: 100vw;
    height: 16vh;
    bottom: 0px;
  }

  .active__nav {
    color: var(--text-primary);
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .navbar__container span {
    font-size: 0.9rem;
  }

  /* ================== Dashboard Page ==================  */

  .dashboard__feature {
    padding: 10px;
    color: var(--text-white);
  }

  .dashboard__banner {
    /* background: var(--text-gray-variant); */
    max-height: 254vh;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
  }

  .dashboard__leader {
    background: rgba(255, 204, 0, 0.9);
    padding: 12px;
    border-radius: 20px;
    position: relative;
  }

  .dashboard__leader h3 {
    font-weight: 800;
  }

  .dashboard__leader p {
    /* font-size: 0.8rem; */
  }

  .dashboard__leader a {
    font-weight: 600;
  }

  .dashboard__leader img {
    position: absolute;
    top: 16px;
    right: 16px;
    transform: rotate(-20deg);
  }

  .dashboard__kyc {
    background: #0b121c;
    color: var(--text-white);
    padding: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .crypto__assets {
    width: 90vw;
    margin: auto;
    padding: 12px;
  }
}
